/* ===========================
   HEADER
=========================== */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#111;
    color:white;

    padding:20px 60px;
}
.logo a{
    color:white;
    text-decoration:none;
}
.logo{

    font-size:30px;

    font-weight:700;

    white-space:nowrap;

}

.search input{

    width:100%;

    max-width:350px;

}
.menu a.active{
    color:var(--primary);
}
.menu a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
    transition:.3s;
}

.menu a:hover{
    color:#ff6b00;
}