/* ===========================
   HEADER
=========================== */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#111;
    color:white;

    padding:20px 60px;
}
.logo a{
    color:white;
    text-decoration:none;
}
.logo{
    font-size:32px;
    font-weight:bold;
}

.search input{
    width:350px;
    padding:12px;

    border:none;
    border-radius:8px;

    font-size:16px;
}
.menu a.active{
    color:var(--primary);
}
.menu a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
    transition:.3s;
}

.menu a:hover{
    color:#ff6b00;
}