<aside class="sidebar">

    <div class="logo">
        <h2>Sahu Admin</h2>
    </div>

    <ul class="menu">

        <li>
            <a href="dashboard.html" id="nav-dashboard">
                Dashboard
            </a>
        </li>

        <li>
            <a href="products.html" id="nav-products">
                Products
            </a>
        </li>

        <li>
            <a href="orders.html" id="nav-orders">
                Orders
            </a>
        </li>

        <li>
            <a href="users.html" id="nav-users">
                Users
            </a>
        </li>

        <li>
            <a href="../login.html" id="logout-btn">
                Logout
            </a>
        </li>

    </ul>

</aside>